
.header{
    width: 100%;
    height: 103px;
    background-color: rgba(51, 51, 51, 0.95);
    position: relative;
    border-bottom: 3px solid #FAFAFA;
    position: fixed;
    top: 0px;
    overflow: hidden;
    z-index: +1;
}
.header h2 {
    font-size: 55px;
    position: absolute;
    left: 30px;
    top: 25%;
    color: #FAFAFA;
    font-family: 'Major Mono Display', cursive;
}
.header nav{
    position: absolute;
    right: 10px;
    bottom: 5px; 
    font-family: 'ropa sans', sans-serif; 
    width: 350px;
}
.header nav ul li{
    display: inline-block;
	padding-right: 15px;
    border-spacing: 10px;
    font-size: 25px;
}
.header nav ul li a{
    text-decoration: none;
    color: #FAFAFA;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; 
}
.header nav ul li a:visited{
   color: #FAFAFA;
}
.header nav ul li a:hover{
    color: #4DE9A8;
    text-decoration: underline;
 }
 #home-id{
    position: absolute;
    top: 0px;
 }
 .header h2 span{
    -webkit-transition: 0.5s ease-in-out;
    -webkit-transition-delay: 2s;
    -moz-transition: 0.5s ease-in-out;
    -moz-transition-delay: 2s;
    -o-transition: 0.5s ease-in-out;
    -ms-transition-delay: 2s;
    transition: 0.5s ease-in-out; 
    transition-delay: .2s;
 }
.header h2 span:hover{
   color: #4DE9A8;
 }
.title{
    width: 100%;
    height: 800px;
    background-image: url(../assets/images/web-design.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-family: 'pt sans', sans-serif;
    color: #FAFAFA;
    font-size: 50px;
}
.title h1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    position: absolute;
    bottom: 20%;
}
.name-color{
    color: #4DE9A8;
    font-weight: bold;
}
.role-title{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    color: #FAFAFA;
    font-size: 40px;
}
.role-background{
    background-color: #FAFAFA;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr;
    margin: 5px 0px 5px 0px;
}
.role-color{
    color: #ff69b4;
    padding: 7px;
    margin: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.role-background img{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.rotating {
    margin-left: 30px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s  linear infinite;
    animation:spin 4s linear infinite; 
}
.rotating-one {
    margin-left: 75px;
    -webkit-animation:spin 4s reverse linear infinite;
    -moz-animation:spin 4s reverse linear infinite;
    animation:spin 4s reverse linear infinite;
}
.rotating-two {
    margin-left: 120px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
.about{
    width: 100%;
    height: 900px;
    background-color: #333333;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 0.4fr;
    grid-template-rows: 0.3fr 1fr 0.7fr;
    font-family: 'pt sans', sans-serif;
    color:#FAFAFA;
    font-size: 20px;
}
.about h3{ 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 10%;
    width: 10%;
    position: absolute;
    left: 30px;
    top: 20px;
    font-size: 40px;
}
.about-content p a{
    color: #00e6b8; 
}
.about-content p a:visited{
    color: #00e6b8; 
}
.about-content{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    position: absolute;
    left: 30px;
    line-height: 24pt;
}
.about h3 span{
    position: absolute;
    top: -125px;
}
.purple{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 70%;
    height: 60%;
    background-color: #A744B4;
    position: absolute;
    bottom: 0px;
    left: 10px; 
    text-align: center;
    -webkit-transition: 4s ease-in-out;
    -moz-transition: 4s ease-in-out;
    -o-transition: 4s ease-in-out;
    transition: 4s ease-in-out;
}
.about:hover .purple{
    border-radius: 20px;
}
.eye{
    -webkit-transition: 4s all ease-out;
    -moz-transition: 4s all ease-out;
    -o-transition: 4s all ease-out;
    transition: 4s all ease-out;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: #A744B4;
    position: absolute;
    top: 50px;
    left: 30%;
}
.about:hover .eye{
    background-color: #93D89D;
}
.yellow{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 20%;
    height: 40%;
    background-color: #C39604;
    position: absolute;
    bottom: 0px;
}
.blue{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 50%;
    height: 70%;
    background-color: #24ABB1;
    position: absolute;
    right: 0px;
    top: 0px;
}
.green{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 40%;
    height: 70%;
    background-color: #93D89D;
    position: absolute;
    position: relative;
    left: 10px;
    top: 0px;
    -webkit-transition: 4s all ease-out;
    -moz-transition: 4s all ease-out;
    -o-transition: 4s all ease-out;
    transition: 4s all ease-out;
}
.green-container{
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.about:hover .green{
    top: 807px;
    -webkit-transform: rotate(180deg);
    border-radius: 2px 20px 2px 20px;  
}
.tail-container{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 80px;
    height: 100px;
    -webkit-transition: 4s ease-in-out;
    -moz-transition: 4s ease-in-out;
    -o-transition: 4s ease-in-out;
    transition: 4s ease-in-out; 
}
.about:hover .tail-container{
    transform: translate(22px, -75px);
}
.tail-left{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #A744B4;
    width: 35px;
    height: 50px;
    border-radius: 0px 20px 0px 20px;
}
.tail-right{
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #A744B4;
    width: 35px;
    height: 50px;
    border-radius: 20px 0px 20px 0px;
}
.tail-center{
    position: absolute;
    right: 22px;
    bottom: 0px;
    background-color: #A744B4;
    width: 35px;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
}
.water-container{
    display: inline-block;
    position: center;
    height: 40px;
    width: 60px;
    -webkit-transition: all 4s ease-in-out;
    -moz-transition: all 4s ease-in-out;
    -o-transition: all 4s ease-in-out;
    transition: all 4s ease-in-out;
}
.about:hover .water-container{
    transform: translate(0px, -45px);
}
.water-left{
    position: absolute;
    left: 0px;
    border-left:dashed 3px #A744B4;  
    border-top:dashed 3px #A744B4; 
    border-right:dashed 3px #A744B4; 
    border-radius: 60px 60px 0px 0px;
    height: 100%;
    width: 42%;
    -webkit-transition: all 4s ease-in-out;
    -moz-transition: all 4s ease-in-out;
    -o-transition: all 4s ease-in-out;
    transition: all 4s ease-in-out;
}
.about:hover .water-left{
    border-color: #93D89D;
}
.water-right{
    position: absolute;
    right: 0px; 
    border-left:dashed 3px #A744B4; 
    border-right:dashed 3px #A744B4; 
    border-top:dashed 3px #A744B4; 
    border-radius: 60px 60px 0px 0px;
    height: 100%;
    width: 42%;
    -webkit-transition: all 4s ease-in-out;
    -moz-transition: all 4s ease-in-out;
    -o-transition: all 4s ease-in-out;
    transition: all 4s ease-in-out;
}
.about:hover .water-right{
    border-color: #93D89D;
}
.portfolio{
    width: 100%;
    height: 700px;
    background-image: url(../assets/images/camera.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    font-family: 'pt sans', sans-serif;
    color: #FAFAFA;
    border-bottom: solid 3px #0F0F0F;
}
.portfolio h3 span{
    position: absolute;
    top: -125px;
}
.portfolio h3{
    position: absolute; 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 10%;
    width: 10%;
    left: 30px;
    top: 20px;
    font-size: 40px;
}
.project-left{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}
.portfolio div{
    text-align: center;
    margin: 20px;
    width: 500px;
    height: 200px;
    border: solid 1px #FAFAFA;
    border-radius: 30px;
    background-color: rgba(31, 30, 30, 0.6);
    font-size: 20px;
}
.portfolio div p{
    margin: 10px;
    font-weight: 600;
    font-size: 28px;
}
.portfolio div a{
   text-decoration: none;
   color: #FAFAFA;
   line-height: 23px;
}
.portfolio div a:hover{
    text-decoration: none;
    color: #4DE9A8;
 }
.project-right{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}
.skills-left{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr;
}
.skills-one{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.skills-two{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
.contact{
    color:#FAFAFA; 
    width: 100%;
    height: 630px;
    background-size: auto 100%;
    background-image: url(../assets/images/rotary.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-family: 'pt sans', sans-serif;
}
.contact h3 span{
    position: absolute;
    top: -125px;
}
.contact-details{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    justify-self: center;
    text-align: center; 
    height: 50%;
}
.contact-info{
    font-family: 'Istok Web', sans-serif;
    display: block;
    font-size: 30px;
    text-shadow: 2px 2px 2px #1a1919;
}
.contact-info p{
    padding: 10px;
}
.contact-info a{
    color: #FAFAFA;
    padding: 10px;
}
.contact h3{
    position: absolute; 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 10%;
    width: 10%;
    left: 30px;
    top: 20px;
    font-size: 40px;
}
.buttons{
    margin: 20px;
}
.buttons button{
    font-family: 'Special Elite', 'cursive'; 
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    color: #FAFAFA;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
.buttons button:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.buttonPhone{
    background-color: #a74646;
}
.buttonEmail{
    background-color: #4e8c97;
}
.footer{
    width: 100%;
    height: 40px;
    background-color: rgba(51, 51, 51, 0.95);
    border-top: 3px solid #FAFAFA;
    text-align: center;
    justify-content: center;
}
.icon-bar{
    display: inline-block;
    margin-top: 10px;  
}
.icon-bar a{
   color: #FAFAFA;
   padding: 0px 10px 0px 10px;
   font-size: 20px;
}
@media only screen and (max-width: 1100px) {
    .portfolio div{
        width: 300px;
    }
    .header h2 {
        position: absolute;
        left: 50%;
        margin-left: -224px;
        top: 2px;
    }
    .header nav{
        position: absolute;
        width: 400px;
        right: 49%;
        margin-right: -200px;
    }
    .header nav ul li{
        padding-right: 30px;
    }
    .about{
    height: 1100px;
    }
    .about:hover .green{
        top: 987px;
    }
    .purple{
        height: 50%;
    }
    .yellow{
        height: 30%;
    }
}
@media only screen and (max-width: 800px) {
    .portfolio div{
        width: 250px;
        font-size: 15px;
    }
    .portfolio div p{
        font-size: 20px;
    }
    .about{
        font-size: 18px;
    }
}
@media only screen and (max-width: 650px) {
    .title{
        background-attachment: initial;
    }
    .portfolio{
        background-attachment: initial;
    }
    .contact{
        background-attachment: initial;
    }
    .about{
        height: 1200px;
    }
    .about:hover .green{
        top: 1177px;
    }
    .purple{
        height: 40%;
    }
    .green{
        height: 40%;
    }
    .about{
        display: grid;
        grid-template-columns: 1fr 1fr 0.4fr;
        grid-template-rows: 0.1fr 1fr 0.5fr;
    }
}
@media only screen and (max-width: 550px) {
    .header nav{
        position: absolute;
        width: 350px;
        right: 50%;
        margin-right: -200px;
    }
    .header nav ul li{
        padding-right: 10px;
    }
    .portfolio{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr;
        height: 1100px;
    }
    .portfolio div{
        width: 200px;
        font-size: 15px;
    }
    .project-left{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .project-right{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .about{
        height: 1200px;
    }
    .about:hover .green{
            top: 1177px;
    }
    .purple{
        height: 30%;
    }
    .green{
        height: 30%;
    }
    .yellow{
        height: 20%;
    }
    .contact{
        display: grid;
        grid-template-columns: .1fr 1fr .1fr;
        grid-template-rows: 0.5fr 1fr;
    }
    .header h2 {
        position: absolute;
        top: 2px;
        font-size: 40px;
        margin-left: -162.5px;
    }
    .title{
        font-size: 40px;
    }
    .role-title{
        font-size: 30px;
    }
}

@media only screen and (max-width: 450px){
    .about{
        height: 1450px;
    }
    .about:hover .green{
            top: 1427px;
    }
}
@media only screen and (max-width: 350px) {
    .header h2 {
        position: absolute;
        top: 20px;
        font-size: 30px;
        margin-left: -122px;
    }
    .header nav{
        position: absolute;
        width: 300px;
        right: 50%;
        margin-right: -200px;
    }
    .header nav ul li{
        padding-right: 10px;
        font-size: 15px;
    }
    .about{
        height: 1700px;
    }
    .about:hover .green{
        top: 1675px;
    }
}